<div class="board">
  <div class="board-column">
      <div class="board-column-header">Dungeons</div>
      <div class="board-column-content">
          <div class="board-item">
              <div class="board-item-content">
                  <span>Item #</span>
                  1
              </div>
          </div>
          <div class="board-item">
              <div class="board-item-content">
                  <span>Item #</span>
                  2
              </div>
          </div>
          <div class="board-item">
              <div class="board-item-content">
                  <span>Item #</span>
                  3
              </div>
          </div>
          <div class="board-item">
              <div class="board-item-content">
                  <span>Item #</span>
                  4
              </div>
          </div>
          <div class="board-item">
              <div class="board-item-content">
                  <span>Item #</span>
                  5
              </div>
          </div>
      </div>
  </div>
  
</div>